    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>BLCX Project</h2>
              <br/>
                <p>Blockchain Coin BLCX is free to use public blockchain for everyone not just the hardcore wizard developers. With a user friendly API to issue tokens, send message, use the marketplace to sell/buy services. <br> 
                <p>Are you a developer? You can check out the source at <a href="https://github.com/blcx/blcx">Github Source</a></p>
                <p>Are you interested in a dedicated seed node and earn <a href="https://goo.gl/forms/IdYQG6TXgl7SgDvx2">Apply</a>.</p>
                <p>Want to join the team or got business proposal ? <a href="https://goo.gl/forms/O2Ut29JCp6d2BMgb2">Apply</a> </p>
<p>Create your account in <a href="http://108.61.246.98">Web Wallet</a>.</p>
<p>Download Destop Wallet <a href="https://github.com/blcx/blcx/blob/master/blcx-coin-client-14.zip">Download Wallet</a>.</p>
                <br/>

              </div>
        </div>
    </section>
